*.pkl
*.pyc
*.csv
*.npy
temp/
committee_data/
knesset_cache.sqlite
utterances_data.pkl
embeddings.npy
utterances/
mk_utterances.jsonl
utterances.zip
logs/
knesset_cache.sqlite
committie_index
clientApp/kenessetData/node_modules/*
clientApp/kenessetData/node_modules
/node_modules
db/
utterance_embeddings.npy
processing/filtered_out_utterances_0.43.json
processing/filtered_summary_0.43.txt
