.app {
  min-height: 100vh;
  direction: rtl;
  user-select: var(--text-color-default) !important;
}
*::selection {
  background: #c7fff7;
}

.app-header {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-content: end;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
  align-items: center;
}

.app-header h1 {
  margin: 0;
  color: #2c3e50;
  font-size: 2.5rem;
}

.logo-container {
  user-select: none;
  margin-left: 1rem;
}
.logo-container img {
  width: 5rem;
}

.app-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Loading spinner */
.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto 1rem;
}
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --text-color-default: #6c757d;
}
